# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# locales are copied from @activeviam/activeui-sdk at postinstall, no need to version them
/public/locales

# production
/build
/public/dist

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*